<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">We will do our best to answer your request as soon as possible. <p>You may send an email to <a href="mailto:gianfranco.doretto@mail.wvu.edu">Gianfranco Doretto</a>.</p></h3>
                </div>
            </div>
        </div>
    </section>