<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                </div>
            </div>
            <div class="row container fa-lg">
                <p>Our understanding of biological systems and their neurological principles has strongly influenced the engineering development of machine learning and artificial intelligence. Yet, computational learning mechanisms only vaguely mimic those found in nature, despite our far greater understanding of the neurosciences and related disciplines than we used to have only a few decades ago. We aim to catalyze this discussion and explore recent developments, challenges, and untapped potential of integrating biological principles with developing the next generation of machine learning and artificial intelligence systems.</p>

                <h2 class="first">Sister Workshops</h2>
              
                <p>This workshop is part of a series spaning three days, from July 18 to July 19, 2024. Click below to see the agenda for each day.</p>
                  
                 <center><a href="#" class="page-scroll btn btn-xl">Agenda, July 17</a> <a href="/agenda" class="page-scroll btn btn-xl">Agenda, July 18</a> <a href="#" class="page-scroll btn btn-xl">Agenda, July 19</a></center>
            </div>
        </div>
    </section>