<!DOCTYPE html>
<html>

  {% include 2024_data/head.html %}


    <body id="page-top" class="index">

    {% include 2024_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Bioinspired Machine Learning Workshop<br></div>
                <div class="intro-lead-in">July 18, 2024</div>
                <div class="intro-lead-in">West Virginia University</div>
                <div class="intro-lead-in">Morgantown, WV</div>
            </div>
        </div>
    </header>


    {% include 2024_data/intro.html %}
    {% include 2024_data/speakers.html %}
    {% include 2024_data/about.html %}
    {% include 2024_data/sponsors.html %}
    {% include 2024_data/contact.html %}
    {% include 2024_data/footer.html %}
    {% include 2024_data/speakers_info.html %}
    {% include 2024_data/js.html %}

    </body>
</html>